<section style="background-color: bisque">
<div class="container" style="padding-left: 50px; padding-top: 50px; background-color: palevioletred">
  Stocks:
  <div style="background-color: blue" class ="row">
  <div style="background-color: yellow" class="col-md-6 col-xl-6 col-sm-6" *ngFor="let stocks of stocks as stockDtos">
      <div style="padding-top: 10px; " (click)="onClick(stocks.id)">
        {{stocks.name}} {{stocks.value}}
      </div>
  </div>
<div style="background-color: blueviolet" class="col-md-6 col-xl-6 col-sm-6" *ngIf="stockSelect != null">
  <card>
    Name: {{stockSelect.name}}
  </card>
  <div style="padding-top: 10px">
    Description: {{stockSelect.description}}
  </div>
  <div style="padding-top: 10px" class="input-group-sm" type="number">
    Value: <input (change)="newVal($event)" type="number" [valueAsNumber]="stockSelect.value">
  </div>
  <div (click)="updateStock(stockSelect)"></div>
</div>
  </div>
</div>
</section>


